/* EventCalendar.css */
.react-calendar {
  width: 512px;
  height: 356px;
  max-width: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.react-calendar__tile--active {
  background-color: #3182ce;
  color: white;
}

.react-calendar__tile--now {
  background-color: #e6e6e6;
  color: black;
}

.react-calendar__tile--highlight {
  background-color: #ffeb3b;
  color: black;
}
